{% extends '::default/Layout.html.twig' %}

{% block body %}
    {{ form_start(Form) }}
    <div class="container">
    <br><br>
    <div class="registration">
    <div class="registration_left">
    <h2>Partager un document</h2>

    <div class="registration_form">
        {{ form(Form) }}

        <input type="submit" value="Ajouter" />
    </div>
    </div>
        <div class="clearfix"></div>
    </div>
    </div>
    {{ form_end(Form) }}
    <br><br><br>

{% endblock %}