{% extends '::default/Layout.html.twig' %}

{% block body %}

    <div class="container">
        <br><br>
        <div class="registration">
            <div class="registration_left">
                <h2>Modifier un document</h2>

                <div class="registration_form">

                    {{ form(Form) }}


                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <br><br><br>
{% endblock %}